@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    background: url("./images/main-background.png") fixed;
    background-size: cover;
}

#header-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


#main-header {
    font-size: 10rem;
    font-family: 'Staatliches', cursive;
    color: white;
    margin-bottom: 0;
    letter-spacing: .5rem;
    text-shadow: 2px 1px #48cae4;
}


#sub-header {
    font-size: 1.65rem;
    font-family: Sans-Serif;
    color: white;
    
    border: 1px solid #48cae4;
    background: black;
}

#socials {
    display: flex;
    justify-content: center;
    align-content: center;
    
    width: 100%;
    height: 100%;
}

.line {
    width: 50%;
    background-color: white;
    border-top: .12rem solid #48cae4;
}

strong:nth-child(odd) {
    position: relative;
    top: .75rem;
    text-decoration: none;
    color: white;
    border: 2px dashed #48cae4;
    background: black;
}

strong:nth-child(even) {
    position: relative;
    bottom: .75rem;
    text-decoration: none;
    color: white;
    border: 2px dashed #48cae4;
    background: black;
}