html
{
    font-size: 62.5%;
}


h1
{
    color: #E8E8E8;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15rem;
    padding-left: 40%;
    font-style: italic;
}


body
{
    margin-left: 5%;
    margin-right: 5%;
    background-color: #616161;
}

hr
{
    padding-top: 30%;
    size: 3rem;
    color: #E8E8E8;
}

p
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2rem;
}

.socials
{
    border: 1rem solid white;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}