:root
{
    --heading-color: #E8E8E8;
    --background-color: #c2c0c0;
}


html
{
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}

h1
{
    color: var(--heading-color);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18rem;
    font-style: italic;
    text-shadow: 0.5rem 0.5rem black;
}

body
{
    background-color: var(--background-color);
}

.grid-social
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    align-content: center;
    grid-column-gap: 10rem;
}

.flex-github
{
    display: flex;
    justify-content: flex-end;
}

.flex-linkedin
{
    display:flex;
    justify-content: start;
}

#header
{
    display: flex;
    justify-content: center;
    align-content: center;
}

#github
{
    border: 0.9rem solid white;
    border-radius: 50%;
    width: 20.5rem;
    max-height: 100%;
    max-width: 100%;
}

#linked-in
{  
    border: 0.9rem solid white;
    border-radius: 10%;
    width: 20rem;
}